{:paths ["src"]
 :deps {com.doubleelbow.capital/capital {:mvn/version "0.1.0-SNAPSHOT"}
        io.pedestal/pedestal.log {:mvn/version "0.5.4"}
        clj-http {:mvn/version "3.9.1"}
        pathetic {:mvn/version "0.5.1"}}
 :aliases {:dev {:extra-paths ["dev"]
                 :extra-deps {org.clojure/tools.namespace {:mvn/version "0.3.0-alpha1"}
                              ch.qos.logback/logback-classic {:mvn/version "1.1.7" :exclusions [org.slf4j/slf4j-api]}
                              org.slf4j/jul-to-slf4j {:mvn/version "1.7.21"}
                              org.slf4j/jcl-over-slf4j {:mvn/version "1.7.21"}
                              org.slf4j/log4j-over-slf4j {:mvn/version "1.7.21"}
                              org.clojure/data.json {:mvn/version "0.2.6"}
                              clj-http-fake {:mvn/version "1.0.3"}
                              com.doubleelbow.capital/capital {:local/root "../core"}}}}}
